@{
    Layout = "_Layout";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MazeBall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/game.css" asp-append-version="true" />
</head>
<body>
    <div class="event-text" id="event-text">
        Test Text!
    </div>
    <div class="maze-container">
        <div id="maze" class="maze">
        </div>
    </div>
    <div class="player-container">
    </div>
    <div class="powerBar-container">
        <input type="range" min="0" max="100" value="0" step="1" class="powerBar-range" id="powerRange" />
    </div>
    <div class="powerBar-value" id="powerValue">Power: 0%</div>
    <div>
        <div class="circle-container" id="circle">
            <div class="dot"></div>
            <div class="arrow" id="arrow"></div>
        </div>
        <div class="angle-text" id="angleText">Angle: 0°</div>
    </div>
    <div class="chat-container" id="chat-container">
        <div class="message-chatContainer" id="message-chatContainer"></div>
        <div class="input-chatContainer">
            <input class="input-chatTextToSend" id="chatTextToSend" placeholder="Type a message..." />
            <div class="button-sendChatText" id="sendChatText">
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <button class="turn-button disabled" id="turn-button">Take the Shot!</button>
        <button class="chat-button disabled" id="chat-button">Open Chat</button>
    </div>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/game.js"></script>
</body>